body {
  font-family: "Dancing Script", cursive;
  background-color: antiquewhite;
}

p {
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titel {
  color: red;
  font-size: 3em;
}

label { 
  font-size: 2em;
}
